html    {
        width:auto;
        }

        
/* header*/
header  {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        }

div .logoReservia img {
        height: auto; 
        object-fit: auto;
        }

nav li  {
        padding: 0 50px 50px 50px;
        }


/*searchzone*/ 

.searchZone {
        padding: 0 0 0 100px;
        width : 100%; 
        }
.searchTitle p {
        padding: 1em 0 1em 0;
        font-size: 0.6em; 
        }
.searchBox {
        display:flex;
        margin-top: 1em;
        width: 80%; height: auto;
        font-weight:700;
        border: 0;     
        }

/*filters*/ 

.filters {
        flex-wrap: wrap;
        margin-top: 1em;
        }
        
.filtersButton {
        flex-wrap: wrap;
        padding:1em 1em 0 0 ;
        }
        
button {
        padding: 0 0.5em 0 0;
        margin: 0 2em 2em 0; 
        }

div .icone{
        margin-right : 0.8em;
        }     

button:hover {
        color: #0065fc; 
        opacity:0.5;
        } 
.i {text-align: center;}

.info {
        display: flex;
        align-items: center;
        margin: 10px 0 10px 0;
        }

.fa-info {
        color: #0065fc;
        text-align: center;
        width: 15px; height:15px;
        padding:7px;
        margin-right: 0.4em;
        border: 1px solid #aaa1a1;
        border-radius: 20px ; 
        }

/*text*/

h1      {
        margin: 20px 0 0 0;
        }
p       { 
        padding :  0 0 0 2em;
        margin : 0 0 8px 0;
        }

h2      {
        margin:0 0 30px 0;
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        color : black;
        }
h3, button {
        margin: 0 30px 0 0;
        font-weight:700; 
        }

h4, div form {
        font-size: 1.1em;
        letter-spacing : -0.03em;
        margin: 0.5em 0 0.5em 0.5em;        
        }  


.note   {
        margin: 0 0 0.5em 0.5em;        
        }  

.fa-star {
        color: #0065fc;
        font-size: 0.8em; 
        } 

a:visited {
        color:inherit;
        }
ul      {
        list-style-type: none;
        }

/* accomodation & Popular*/       

.AccomodationPopular { 
        display: block; 
        margin: auto;
        }

.accomodation {
        height: auto;
        border-radius: 30px;
        }

.popular {
        border-radius: 30px;
        }

      

/*article Accomodation & Popular*/

.articles {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        }

.articleAccomodation, .articlePopular {
        width: 28%;
        background-color: white;
        border-radius: 30px;
        padding: 8px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 10px rgb(88, 84, 84);
        }  
.articleAccomodation {
        width: 28%;
        margin-right: 30px;
        } 
        
div .more {
        margin : 0 0 30px 0;       
        }

.articlePopular {
        display: flex;
        width: 100%;
        }        

div .imgAccomodation img {
        height: 115px;
        width: 100%;
        border-radius: 20px 20px 0 0;
        object-fit : cover;
        }

.fa-chart-line {
        font-size: 1.5em;
        }
.pictoPopular {
        display: flex;
        justify-content: space-between;
        } 

.articlePopular > a {   
        display: flex;
        } 

div .imgPopular img {
        width: 100%;
        height: 100%;
        border-radius: 20px 0 0 20px ;
        object-fit : cover;
        }
div .imgPopular {
        margin-right: 1em;
        width: 40%;
        height: 140px;
        object-fit : cover;
        }
div .textPopular  { 
        width: 60% ;
        padding: 0 4em 0 0 ; 
        }

/*article Activity*/

.activity {
        margin : 0 0 0 50px; 
        }
        
.activityPort, .activityFort, .activityIles, .activityCalanques, .activityLongchamp, .activityGarde {
        width: 335px;
        margin : 0 30px 30px 0;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgb(88, 84, 84);
        }

.activityPort, .activityCalanques {
        height : 500px;
        }

.activityFort {
        height : 280px;
        }
.activityIles {
        height : 190px;
        }
.activityLongchamp, .activityGarde {
        height : 235px;
        }
.activity h4 {
        padding-top: 0.5em;
        }
        
div .port img, div .parc img, div .fort img, div .iles img, div .garde img, div .longchamp img {
        width: 100%;
        border-radius: 20px 20px 0 0 ;
        object-fit : cover;
        }

div .port img, div .parc img {
        height : 440px;        
        }

div .fort img {
        height : 220px;
        }

div .iles img {
        height : 130px;
        }
div .garde img, div .longchamp img {
        height : 175px;
        }

/*footer*/

footer  {
        background-color: #F2F2F2; 
        }
.footer {        
        display : flex;
        height : 200px;
        }
.footerSection {        
        display : flex;
        flex-direction: column;
        padding: 40px 270px 0 10px;
        }
        
.footerSection ul{        
        padding :0;
        }
.footerSection ul li{        
        padding-top: 1em;
        }
.footerSection > li{        
        font-weight: 700;
        }