 
html    {
        margin:0; padding: 0; 
        }

body    {
        margin:0; padding: 0; 
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        }
#page {
        width : 100%;
        }
header  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 50px 0 50px ; 
        }

/* header*/
.logoReservia img {
        width: 100px;
        object-fit: none;
        }  

nav ul    {
        display: flex;
        list-style-type: none;

        }
nav li
        {
        padding-left: 60px;
        color: #0065fc; 
        font-weight:700;     
        }

a       {
        text-decoration: none;
        }

nav a:visited {
        color: #0065fc; 
        }       
nav a:hover {
        color: #000000; 
        text-decoration: none;
        }

/*searchzone*/ 

.searchZone {
        padding: 0 0 0 50px; 
        }
.searchBox {
        display:flex;
        margin-top: 15px;
        justify-content: space-around;
        align-items: center;
        width: 400px; height: 40px;
        border: 1px solid #aaa1a1;
        border-radius: 15px ; 
        font-size: 1.1em;
        font-weight:700;     
        }

/*filters*/ 

.filters {
        display: flex;
        align-items: center;
        margin-top: 1em;
        }
        
.filters div {
        margin-right: 30px;
        }
        
.filtersButton {
        text-decoration: none;
        }
        
button {
        padding: 0.8em; 
        margin-right: 30px;
        font-size: 1.1em;
        font-weight:700;   
        background-color: white;
        border-radius: 1em; 
        border: 1px solid #aaa1a1;
        }
        
button:hover {
        color: #0065fc; 
        opacity:0.5;
        } 

.info {
        display: flex;
        align-items: center;
        margin: 10px 0 10px 0;

}

.fa-info {
        color: #0065fc; 
        width: 15px; height:15px;
        padding:7px;
        margin-right: 0.4em;
        border: 1px solid #aaa1a1;
        border-radius: 20px ; 
        }

/*text*/

h1      {
        font-family: 'Raleway', Arial, Helvetica, sans-serif; 
        font-weight:700;
        font-size: 1.5em;
        color :black;
        }

h2      {
        margin:0 0 30px 0;
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        color : black;
        }
h3      {
        margin: 0;
        }

h4      {
        font-size: 1.1em;
        margin: 0.5em 0 0.5em 0.5em;        
        }  
p       {
        font-size: 1em;
        margin: 0.5em 0 0.5em 0.5em;        
        } 

.note   {
        margin: 0 0 0.5em 0.5em;        
        }  

.fa-star {
        color: #0065fc; 
        } 

a:visited {
        color:inherit;
        }

/* accomodation & Popular*/       

.AccomodationPopular { 
        display: flex; 
        margin: 50px;
        }

.accomodation {
        width: 65%; 
        height: auto;
        padding:30px 0 0px 30px;
        border-radius: 30px;
        }

.popular {
        display: flex; 
        flex-direction: column;
        width:30%; 
        padding:30px 30px 0 30px;
        margin-left: 30px;
        border-radius: 30px;
        }

.accomodation, .popular {
        background-color: #F2F2F2; 
        margin-bottom:15px;
        }         

/*article Accomodation & Popular*/

.articles {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        }


.articleAccomodation {
        width: 28%;
        background-color: white;
        border-radius: 30px;
        padding: 8px;
        margin-bottom: 30px;
        margin-right: 30px;
        box-shadow: 0px 0px 10px rgb(88, 84, 84);
        }         

div img {
        height: 115px;
        width: 100%;
        border-radius: 20px 20px 0 0;
        object-fit : cover;
        }

.more {
        align-content: flex-start;
        }

.pictoPopular {
        display: flex;
        justify-content: space-between;
        } 

.articlePopular > a {   
        display: flex;
        }

.articlePopular {
        display: flex;
        background-color: white;
        width: 100%;
        height: auto;
        border-radius: 30px;
        padding : 8px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 10px rgb(88, 84, 84);
        } 

div .imgPopular img {
        margin-right: 1em;
        height: 140px;
        width: 150px;
        border-radius: 20px 0 0 20px ;
        }

.textPopular {
        display: flex;
        flex-direction: column;
        width : 170px;
        }
.textPopular div { 
        padding-top: 1.3em;
        } 

.activity {
        margin : 0 0 0 50px; 
        }
        
.articleActivity, .activityPort, .activityFort, .activityIles, .activityCalanques, .activityLongchamp, .activityGarde {
        width: 335px;
        height : 220px;
        margin : 0 30px 30px 0;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgb(88, 84, 84);
        }

.activityPort, .activityCalanques {
        height : 500px;
        }

.activityFort {
        height : 280px;
        }
.activityIles {
        height : 190px;
        }
.activityLongchamp, .activityGarde {
        height : 235px;
        }

div .port img, div .parc img {
        height : 440px;
        }


/*footer*/

footer  {
        background-color: #F2F2F2; 
        }