 
html    {
        margin:0; padding: 0; 
        }

body    {
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        }
#page {
        width : 100%;
        }
header  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        }

/* header*/
.logoReservia img {
        width: 100px;
        }  

nav ul    {
        display: flex;
        list-style-type: none;

        }
nav li
        {
        padding-left: 15px;
        color: #0065fc; 
        font-weight:700;     
        }

a       {
        text-decoration: none;
        }

nav a:visited {
        color: #0065fc; 
        }       
nav a:hover {
        color: #000000; 
        text-decoration: none;
        }

header, main {
        padding: 0 40px 0 40px ; 
        }

/*searchzone*/ 

.searchZone {
        padding: 0 0 0 40px; 
        }
.searchBox {
        display:flex;
        justify-content: space-around;
        align-items: center;
        width: 400px; height: 40px;
        border: 1px solid #aaa1a1;
        border-radius: 15px ; 
        font-size: 1.1em;
        font-weight:700;     
        }

/*filters*/ 

.filters {
        display: flex;
        align-items: center;
        margin-top: 1em;
        }
        
.filters div {
        margin-right: 30px;
        }
        
.filtersButton {
        text-decoration: none;
        }
        
button {
        padding: 0.8em; 
        margin-right: 30px;
        font-size: 1.1em;
        font-weight:700;   
        background-color: white;
        border-radius: 1em; 
        border: 1px solid #aaa1a1;
        }
        
button:hover {
        color: #0065fc; 
        opacity:0.5;
        } 

.info {
        display: flex;
        align-items: center;
        margin: 10px 0 10px 0;

}

.fa-info {
        color: #0065fc; 
        width: 15px; height:15px;
        padding:7px;
        margin-right: 0.4em;
        border: 1px solid #aaa1a1;
        border-radius: 20px ; 
        }

/*text*/

h1      {
        font-family: 'Raleway', Arial, Helvetica, sans-serif; 
        font-weight:700;
        font-size: 1.5em;
        color :black;
        }

h2      {
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        color : black;
        }
h4, p     {
        margin: 0px;        
        }        

/*sections*/

.AccomodationPopular { 
        display: flex; 
        justify-content: flex-start;
        }

.accomodation {
        width:65%;
}
.popular {
        width:20%;
}

.articles {
        display: flex; 
        flex-wrap: wrap; 
        } 

.accomodation, .popular {
        background-color: #F2F2F2; 
        margin-bottom:15px;
        } 

.articleAccomodation {
        position:relative;
        background-color: white;
        border-radius: 40px;
        margin:15px;
        padding : 20px;
        box-shadow: 0px 0px 10px rgb(88, 84, 84);
        }
img {
        width: 150px;
}


.articlePopular {
        background-color: white;
        border-radius: 40px;
        margin:20px;
        padding : 20px;
        box-shadow: 0px 0px 10px rgb(88, 84, 84);
        }

.articleActivity {
        background-color: white;
        border-radius: 40px;
        margin:20px;
        padding : 20px;
        box-shadow: 0px 0px 10px rgb(88, 84, 84);
        }

.fa-star {
        color: #0065fc; 
        }

.port   {
        background-image: url("../maquette/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
        } 
        
.fort   {
        background-image: url("../maquette/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
        }             

.iles   {
        background-image: url("../maquette/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
        }             
    
.parc   {
        background-image: url("../maquette/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
        } 
        
.garde {
        background-image: url("../maquette/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
        }   
        
.longchamp {
        background-image: url("../maquette/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
        } 

.port, .fort, .iles, .parc, .garde, .longchamp {
        width: 180px; height: 200px;
        border : solid 1px; 
        background-position: 0;
        }

/*footer*/

footer  {
        background-color: #F2F2F2; 
        }